[Unit]
Description=Schedule Arissto sync state backups

[Timer]
OnCalendar=*-*-* 01:30:00 America/El_Salvador
Persistent=true
AccuracySec=5min
RandomizedDelaySec=0
Unit=arissto-sync-backup.service

[Install]
WantedBy=timers.target
